<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cmf-codes-values-heading">Create or edit a CMF Codes Values</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cMFCodesValues.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_codeValKey">Code Val Key</label>
                    <input type="number" class="form-control" name="codeValKey" id="field_codeValKey"
                           formControlName="codeValKey"/>
                    <div *ngIf="editForm.get('codeValKey').invalid && (editForm.get('codeValKey').dirty || editForm.get('codeValKey').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codeValKey').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('codeValKey')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_codeTableKey">Code Table Key</label>
                    <input type="number" class="form-control" name="codeTableKey" id="field_codeTableKey"
                           formControlName="codeTableKey"/>
                    <div *ngIf="editForm.get('codeTableKey').invalid && (editForm.get('codeTableKey').dirty || editForm.get('codeTableKey').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codeTableKey').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('codeTableKey')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_codeClassfctnTypeCode">Code Classfctn Type Code</label>
                    <input type="text" class="form-control" name="codeClassfctnTypeCode" id="field_codeClassfctnTypeCode"
                           formControlName="codeClassfctnTypeCode"/>
                    <div *ngIf="editForm.get('codeClassfctnTypeCode').invalid && (editForm.get('codeClassfctnTypeCode').dirty || editForm.get('codeClassfctnTypeCode').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codeClassfctnTypeCode').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codeClassfctnTypeCode').errors.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_srcSysCode">Src Sys Code</label>
                    <input type="text" class="form-control" name="srcSysCode" id="field_srcSysCode"
                           formControlName="srcSysCode"/>
                    <div *ngIf="editForm.get('srcSysCode').invalid && (editForm.get('srcSysCode').dirty || editForm.get('srcSysCode').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('srcSysCode').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('srcSysCode').errors.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lifecycleStatusCode">Lifecycle Status Code</label>
                    <input type="text" class="form-control" name="lifecycleStatusCode" id="field_lifecycleStatusCode"
                           formControlName="lifecycleStatusCode"/>
                    <div *ngIf="editForm.get('lifecycleStatusCode').invalid && (editForm.get('lifecycleStatusCode').dirty || editForm.get('lifecycleStatusCode').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lifecycleStatusCode').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lifecycleStatusCode').errors.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_codeColValCode">Code Col Val Code</label>
                    <input type="text" class="form-control" name="codeColValCode" id="field_codeColValCode"
                           formControlName="codeColValCode"/>
                    <div *ngIf="editForm.get('codeColValCode').invalid && (editForm.get('codeColValCode').dirty || editForm.get('codeColValCode').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codeColValCode').errors.maxlength">
                        This field cannot be longer than 256 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_descColValText">Desc Col Val Text</label>
                    <input type="text" class="form-control" name="descColValText" id="field_descColValText"
                           formControlName="descColValText"/>
                    <div *ngIf="editForm.get('descColValText').invalid && (editForm.get('descColValText').dirty || editForm.get('descColValText').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descColValText').errors.maxlength">
                        This field cannot be longer than 800 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_effDate">Eff Date</label>
                    <div class="d-flex">
                        <input id="field_effDate" type="datetime-local" class="form-control" name="effDate" formControlName="effDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_endDate">End Date</label>
                    <div class="d-flex">
                        <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" formControlName="endDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_commentText">Comment Text</label>
                    <input type="text" class="form-control" name="commentText" id="field_commentText"
                           formControlName="commentText"/>
                    <div *ngIf="editForm.get('commentText').invalid && (editForm.get('commentText').dirty || editForm.get('commentText').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('commentText').errors.maxlength">
                        This field cannot be longer than 800 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nameColValName">Name Col Val Name</label>
                    <input type="text" class="form-control" name="nameColValName" id="field_nameColValName"
                           formControlName="nameColValName"/>
                    <div *ngIf="editForm.get('nameColValName').invalid && (editForm.get('nameColValName').dirty || editForm.get('nameColValName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nameColValName').errors.maxlength">
                        This field cannot be longer than 512 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createDate">Create Date</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" formControlName="createDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createUserId">Create User Id</label>
                    <input type="text" class="form-control" name="createUserId" id="field_createUserId"
                           formControlName="createUserId"/>
                    <div *ngIf="editForm.get('createUserId').invalid && (editForm.get('createUserId').dirty || editForm.get('createUserId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createUserId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createUserId').errors.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updDate">Upd Date</label>
                    <div class="d-flex">
                        <input id="field_updDate" type="datetime-local" class="form-control" name="updDate" formControlName="updDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updUserId">Upd User Id</label>
                    <input type="text" class="form-control" name="updUserId" id="field_updUserId"
                           formControlName="updUserId"/>
                    <div *ngIf="editForm.get('updUserId').invalid && (editForm.get('updUserId').dirty || editForm.get('updUserId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('updUserId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('updUserId').errors.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
